stages:
  - "Set Pending Github Status"
  - build
  - deploy
  - "Set Final Github Status"

variables:
  GITHUB_REPO_URL: "https://github.com/Aquaveo/harmonica.git"
  GITLAB_REPO_URL: "https://git.aquaveo.com/Aquaveo/model-executables/harmonica-mirror.git"
  GITHUB_ORG: "Aquaveo"
  GITHUB_REPO_NAME: "harmonica"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/pip-cache"

cache:
  paths:
    - "$CI_PROJECT_DIR/pip-cache"
  key: "$CI_PROJECT_ID"

"Send Pending Status":
  stage: "Set Pending Github Status"
  image: curlimages/curl:7.70.0
  script:
    - curl -X POST -H "Content-Type:application/json" -H "Authorization:token $GITHUB_TOKEN" "https://api.github.com/repos/$GITHUB_ORG/$GITHUB_REPO_NAME/statuses/$CI_COMMIT_SHA" --data "{\"state\":\"pending\", \"target_url\":\"$CI_JOB_URL\", \"description\":\"Gitlab is processing the commit\", \"context\":\"ci/gitlab\"}"

"Lint Package":
  stage: build
  image: GLR-py310
  script:
    # Run python flake
    - pip install tox flake8 flake8-docstrings flake8-bugbear flake8-import-order pep8-naming flake8-colors
    - pip install -i https://aquapi.aquaveo.com/aquaveo/dev/+simple/ flake8-aquaveo
    - flake8 --exclude .tox,.git,__pycache__,tests/files/*,docs/source/conf.py,build,dist,tests/fixtures/*,*.pyc,*.egg-info,.cache,.eggs --ignore=D200,D212 --max-line-length=120 --docstring-convention google --isolated --import-order-style=appnexus --application-import-names=harmonica --application-package-names=xms --count --statistics .
  tags:
    - WinVM

"Build Package":
  stage: build
  image: GLR-py310
  variables:
    PIP_INDEX_URL: "https://public.aquapi.aquaveo.com/aquaveo/stable"
  script:
    - pip.exe install coverage tox -i https://aquapi.aquaveo.com/aquaveo/stable/+simple/
    - net use \\\\f /user:aquaveo\\${F_DRIVE_USER} ${F_DRIVE_PASSWORD}
    - tox --workdir .
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  artifacts:
    paths:
      - coverage_html
    expire_in: 1 week
  tags:
    - WinVM

deployment:
  stage: deploy
  image: GLR-py310
  script:
    - pip.exe install devpi-client -i https://aquapi.aquaveo.com/aquaveo/stable/+simple/
    - devpi use ${DEVPI_URL}
    - devpi login ${DEVPI_USER} --password ${DEVPI_PASS}
    - devpi upload --no-vcs --formats sdist
  only:
    - tags
  tags:
    - WinVM

"Send Success Status":
  stage: "Set Final Github Status"
  image: curlimages/curl:7.70.0
  script:
    - curl -X POST -H "Content-Type:application/json" -H "Authorization:token $GITHUB_TOKEN" "https://api.github.com/repos/$GITHUB_ORG/$GITHUB_REPO_NAME/statuses/$CI_COMMIT_SHA" --data "{\"state\":\"success\", \"target_url\":\"$CI_JOB_URL\", \"description\":\"The job succeeded\", \"context\":\"ci/gitlab\"}"
  when: on_success

"Send Failed Status":
  stage: "Set Final Github Status"
  image: curlimages/curl:7.70.0
  script:
    - curl -X POST -H "Content-Type:application/json" -H "Authorization:token $GITHUB_TOKEN" "https://api.github.com/repos/$GITHUB_ORG/$GITHUB_REPO_NAME/statuses/$CI_COMMIT_SHA" --data "{\"state\":\"failure\", \"target_url\":\"$CI_JOB_URL\", \"description\":\"The job failed\", \"context\":\"ci/gitlab\"}"
  when: on_failure

